.pop-up-container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.pop-up{
    background-color: white;;
    width : 40rem;
    word-wrap: break-word;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding :1rem;
    font-family: var(--font1);  
    text-align: center;
    gap : 1rem;
}

.pop-up h1{
    font-size: 2.5rem;
}

.pop-up p{
    font-size: 1.7rem;
}

.pop-up button{
    font-family: var(--font1);  
    padding : 1rem;
    height : 3rem;
    width : 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgb(246, 246, 246);
    border: none;
    border-radius: 0.5rem;
    transition : all 0.3s;
}

.pop-up button:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
